

$primary: hsla(var(--color-primary));
.tabControl {
  &{ text-wrap: nowrap; }
  // background: #000;

  .tab__controller{
    button{
      gap: 0.25em;
      .icon{ font-size: 60%; }
      &.active{ color: $primary; fill: $primary; border-color: $primary; }
    }
  }

  // .tab__content{}

  &.reverse {
    @media (0 < width < 48rem) { 
      flex-direction: column-reverse;
      .tab__controller button{ 
        flex-direction: column; gap: 0;
        .icon{ font-size: 110%; }
        .label{ font-size: 80%; font-weight: 700; }
      }
    }
    &.tab_1 {
      .tab__controller {
        button{ flex: 1; justify-content: center; }
      }
    }
  }
}