/* استيراد الأنماط الأساسية لمكتبة tippy */
@import "tippy.js/dist/tippy.css";

/* تخصيص */
:root{ --tippy-bg: var(--color-black); }

.tippy-box{
    background-color: var(--tippy-bg) !important;
    color: var(--color-white) !important;
    font-weight: bold;
    padding: 0.25em 0.5em;
    font-size: 85%;
    border-radius: 0.25em;
    text-align: center;
}
.tippy-arrow {
    width: 1em !important;
    height: 1em !important;
    color: var(--tippy-bg) !important;
}

.tippy-box.success, .tooltip-success { --tippy-bg: var(--success-bar); }
.tippy-box.error, .tooltip-error { --tippy-bg: var(--error-bar); }
.tippy-box.warning, .tooltip-warning { --tippy-bg: var(--warning-bar); }
.tippy-box.info, .tooltip-info { --tippy-bg: var(--info-bar); }
