@use '../utils' as *;

$primary: hsla(var(--color-primary));
.tab-control {
  &{ 
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    text-wrap: nowrap;

    &.vertical { flex-direction: column-reverse; }
    &.horizontal { flex-direction: column; }
  }

  .tab-controller{
    &{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: scroll;
      scrollbar-gutter: stable both-edges;// يحجز مساحة لشريط التمرير حتى لو لم يكن موجودًا (يمنع الانزياح عند ظهور/اختفاء الشريط) | مفيد بشكل خاص لمواقع الويب التي قد يظهر/يختفي فيها شريط التمرير حسب المحتوى
      // margin-top: 0.5em;
      margin-bottom: -0.5em;
      // &:hover, &:focus-within { overflow: auto; }

      @include scrollbar(
      // $width: 0.01em,
      $thumb-color: transparent,
      $thumb-hover-color: transparent,
      // $radius: 0.5em
      );
    }
    button{
      padding: 0.5em 1em ;
      // padding-block-start: 1em;
      // padding-block-end: 0;
      border-bottom: 0.125em solid transparent;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.125em;
      // font-size: 100%;

      .icon{ font-size: 120%; }
      .label{ font-size: 80%; font-weight: 600; }
      &.active{ color: $primary; fill: $primary; border-color: $primary; font-weight: 800; scale: 110%; transform: translateY(-0.125em); }
      
      &{// Media Queries:
        @include md {
          flex-direction: row;
          gap: 0.25em;
          .icon{ font-size: 80%; }
          .label{ font-size: 100%; }
        }
      }
    }
  }

  &.reverse {
    @media (0 < width < 48rem) { 
      flex-direction: column-reverse;
      .tab__controller button{ 
        flex-direction: column; gap: 0;
        .icon{ font-size: 110%; }
        .label{ font-size: 80%; font-weight: 700; }
      }
    }
    &.tab_1 {
      .tab__controller {
        button{ flex: 1; justify-content: center; }
      }
    }
  }
}

// ---------- ---------- ---------- ---------- ---------- ---------- ----------

.tab-content{
  position: relative;
  padding: 0.2em;
  padding-block-end: 0;
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}