// 📁 _fun.scss
@use "sass:color"; // ← إضافة هذه السطر
@use './var' as *;

// #region : rtl : التحكم بالاتجاه
  :root { --dir: 1 /* ltr */; }
  html[dir="rtl"] { --dir: -1 /* rtl */; }

  // ✅ دالة تعكس الزاوية إذا كانت RTL
  @function dir($num) { 
    @if $mode == 'development' { @return ( $num * $static_dir ); }
    @return calc( $num * $dir ); }
// #endregion

// #region : rtl : التحكم بالاتجاه
  
@function to_hsla($color) {
  $h: color.channel($color, "hue", $space: hsl);
  $s: color.channel($color, "saturation", $space: hsl);
  $l: color.channel($color, "lightness", $space: hsl);
  $a: color.alpha($color); // الشفافية (1 إذا لم يكن شفافًا)

  @return hsla($h, $s, $l, $a);
}

// دالة لتحويل اللون إلى HSLA
@function get_hsl($color) {
  $h: color.channel($color, "hue", $space: hsl);
  $s: color.channel($color, "saturation", $space: hsl);
  $l: color.channel($color, "lightness", $space: hsl);
  // $a: alpha($color);
  @return "#{$h}, #{$s}, #{$l}";
}
  // دالة لتغميق اللون
  @function darken-color($color, $amount) { @return mix($black, $color, $amount); } // darken-color
  // دالة لتفتيح اللون
  @function lighten-color($color, $amount) { @return mix($white, $color, $amount); } // lighten-color


$color: #0d6efd;
$hsl-color: get_hsl($color);

:root {
  --main: #{$hsl-color}; // إنشاء متغير CSS
  --main-hsl: hsla(#{$hsl-color}); // إنشاء متغير CSS
}

// h1::after {
//   background-color: hsla(var(--main), 0.2) !important;
//   // background-color: darken-color(var(--main), 50%) !important;
//   color: var(--main-hsl) !important;
//   content: "لون: #{$hsl-color}"; // محتوى نصي
// }

// يبدو ان هناك مشكلة في دالة darken-color ؟؟
// #endregion
